body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  border: 1px solid red;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

header {
  height: 8vh;
  background-color: rgb(55, 53, 53);
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
  font-weight: 400;
  color: white;
  display: flex;
  align-items: center;
  border: 1px solid yellow;
}

main {
  border: 1px solid blue;
  height: 92vh;
}

.search-users {
  text-align: center;
  margin-top: 20px;
  width: 300px;
  margin-left: auto;
  margin-right: auto ;
}