.profile-container {
  margin: 15px auto 40px auto;
  /* margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 40px; */
  display: flex;
  column-gap: 8px;
  width: 95vw;
  border: 1px solid rebeccapurple;
}

.profile-container img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  align-self: center;
}

.profile-container span {
  font-size: 20px;
  line-height: 1.25;
  font-weight: bold;
}

/* .repos-container {
  display: flex;
  flex-direction: column;
  gap: 10px ;
  border: solid 1px red;
} */

.repos-content{
  width: 80vw;
  margin: 15px auto 10px auto;
  padding-bottom: 20px;
  border-bottom:0.5px  solid gray;
  /* margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;


}

.icon-container {
  display: flex;
  row-gap: 5px;
  column-gap: 18px;
}

.icons {
  display: flex;
  column-gap: 10px;
}

.button-container {
  display: flex;
  justify-content:space-around;
  border-bottom: solid 1px rgb(226, 225, 225);
  padding-bottom: 10px;
}

.button-filter {  
  display: flex;
  align-items: center;
  background-color: #fff;
  border: none;
  display: flex;
  column-gap: 10px;
}

.button-count {
  display: flex;
  justify-content: center;
  align-items:center;
  width: 20px;
  height: 15px;
  font-weight:600;
  font-size: 15px;
  color: rgb(63, 62, 62);
  background-color: rgb(146, 144, 144);
  border-radius: 40%;

}
