.profile-container {
  display: flex;
  

}

.profile-container span {
  font-size: 20px;
  line-height: 1.25;
  font-weight: bold;
}

.repos-container {
  display: flex;
  flex-direction: column;
  gap: 10px ;
  border: solid 1px red;
}

.repos-text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.icon-container {
  display: flex;
  row-gap: 5px;
  column-gap: 18px;
}

.icons {
  display: flex;
  column-gap: 10px;
}

.button-container {
  display: flex;
  justify-content: center;
}

.button-filter {  
  display: flex;
  align-items: center;
  background-color: #fff;
  border: none;
  display: flex;
  column-gap: 10px;
}

.button-count {
  display: flex;
  justify-content: center;
  align-items:center;
  width: 20px;
  height: 15px;
  font-weight:600;
  font-size: 15px;
  color: rgb(63, 62, 62);
  background-color: rgb(146, 144, 144);
  border-radius: 40%;

}
